<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set project = "ScrumBoard" %}
{% set overview = "https://hawkers.nighthawkcodingsociety.com/aboutus" %}
{% set scrumboard = "https://github.com/noyah81/p2ducks/projects/1" %}
{% set repo = "https://github.com/noyah81/p2ducks" %}
{% set authors = "https://nighthawkcodingsociety.com/projectsearch/details/Hawkers%20Tweet" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block background %}
  
<!DOCTYPE html>
<head>
    <h1>This is the Scrum Board!</h1>
    <h3>Notes and suggestions from the teacher or partners</h3>
    <ul>
        <li>....</li>
        <li>....</li>
    </ul>
</head>
<body>
    <ul>
        <li>Scrum Master: Planning and working on the hangman project</li>
        <li>Devops: This person will work on the user interference of the website and ensure vscode git process are working correctly and AWS is working properly.</li>
        <li>Frontend: Working on the html and css of the hangman project and what the decoration is around it. </li>
        <li>Backend: Working on the hangman project with the scrum master. </li>
    </ul>
    <table>
        <tr>
          <th>To-Do</th>
          <th>Progress</th>
          <th>Role</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
</body>


{% endblock %}