{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <style>
        .card {
          background-color: rgb(148, 217, 221);
          border-radius: 10px;
        }
        h5 {
          color: white;
          text-align: center;
        }
        li{
            color: rgba(255, 255, 255, 0.808);
          font-family: verdana;
          font-size: 20px;
        }
        div {
            color: rgba(255, 255, 255, 0.063);
          font-family: verdana;
          font-size: 20px;
        }
        body {
            background-color: rgb(254, 243, 161);
            max-width: 100vw;
            max-height: 100vh; 
            background-size: cover;
        }
    </style>
    <div class="px-5">
        <h1><strong>MVQN</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="0">
                    <div class="card-body">
                    <h5 class="card-title">Mati<mark>Danish</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>My name is Mati Danish.</li>
                            <li>I am a junior.</li>
                            <li>I am 16 years old.</li>
                            <li>My Role is DevOps.</li>
                            <li>My hobbies are listening to music, Photography, and messing around with computers</li>
                            <li>I can code Python, HTML, and etc.</li>
                        </ol>
                    </p>
                    <a href="https://github.com/hsinaDitaM" class="btn btn-primary">Github Page</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="0">
                    <div class="card-body">
                    <h5 class="card-title">Qais <mark>Jamili</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>My name is Qais Jamili.</li>
                            <li>I am 15 years old.</li>
                            <li>I was born in Munich, Germany but I live in San Diego, California.</li>
                            <li>I go to Del Norte higschool.</li>
                            <li>Some of the things I like to do are; play rugby, play games, watch televison, hangout with my friends, be with my family, and enjoy nature.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="0">
                <div class="card-body">
                <h5 class="card-title">FirstName <mark>LastName</mark></h5>
                <p class="card-text">
                    <ol>
                        <li>About</li>
                        <li>About</li>
                        <li>About</li>
                        <li>About</li>
                        <li>About</li>
                    </ol>
                </p>
                <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div> 
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="0">
                <div class="card-body">
                <h5 class="card-title">FirstName <mark>LastName</mark></h5>
                <p class="card-text">
                    <ol>
                        <li>About</li>
                        <li>About</li>
                        <li>About</li>
                        <li>About</li>
                        <li>About</li>
                    </ol>
                </p>
                <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div> 
        <hr/>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="0">
                <div class="card-body">
                <h5 class="card-title">What is <mark>snake?</mark></h5>
                <p class="card-text">
                    <ol>
                        <li>Snake is a video game.</li>
                        <li>It involves a block which increases in size when it tocuhes red blocks (food).</li>
                        <li>You are able to move the block with the arrow keys.</li>
                        <li>The objective of the game is to increase in size as much as you can.</li>
                        <li>If you hit yourself or hit a border you lose and restart the game.</li>
                    </ol>
                </p>
                <a href="#" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div> 
{% endblock %}