
{% extends "layouts/base.html" %}


{% set project = "Stubby" %}


{% block body %}

    

<head>
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script>

</head>

    
    <style>

          

        .card {
          background-color: rgb(51, 51, 51);
          border-radius: 10px;
        }
        h5 {
          color: #bab9b9;;
          text-align: center;
        }
        li{
            color: #bab9b9;
          font-family: verdana;
          font-size: 20px;
        }
        div {
            color: #ffffff10;
          font-family: verdana;
          font-size: 20px;
        }
        body {
            background-color: #1c1c1c;
            max-width: 100vw;
            max-height: 100vh; 
            background-size: cover;
        }
        hr { 
            color: #ffffff10;
            size: 20;
        }
        h1 {
          color: rgb(148, 217, 221);
          text-align: right;
        }
        h2{
        color:rgba(148, 217, 221, 0);
    }
    </style>

    <h5>Mati will be adding Hangman after he receives it from Nikhil</h5>

    <body> 
      <py-script>
        import random 
        PICS = ['''
        +---+
        |  |   
          |
          |
          |
          |
          |
        =========''', '''



        +---+
        |   |
        O   |
            |
            |
            |
        =========''', '''


        

            +---+

          |   |

          O   |

          |   |

              |

              |

          =========''', '''

        

          +---+

          |   |

          O   |

          /|   |

              |

              |

        =========''', '''



          +---+

          |   |

          O   |

          /|\  |

              |

              |

        =========''', '''



          +---+

          |   |

          O   |

          /|\  |

          /    |

              |

        =========''', '''



          +---+

          |   |

          O   |

          /|\  |

          / \  |

              |

        =========''']


        words = 'hi hello how ant baboon happy pig soccer black blue red violet pink white bold confidence integrity fight sad pig elephant boy monkey phone computer qais vyaan mask '.split()


        def getRandomWord(ListofWords):
            # This function chooses one word randomly out of the list "words".
            wordIndex = random.randint(0, len(ListofWords) - 1)
            return ListofWords[wordIndex]
        
        def displayBoard(PICS, missedLetters, correctLetters, HangmanWord):
              print(PICS[len(missedLetters)])
              print()
              print('Missed letters:', end=' ')
              for letter in missedLetters:
                  print(letter, end=' ')
              print()
              blanks = '_' * len(HangmanWord)
              for i in range(len(HangmanWord)): # replace blanks with correctly guessed letters
                  if HangmanWord[i] in correctLetters:
                      blanks = blanks[:i] + HangmanWord[i] + blanks[i+1:]
              for letter in blanks: # show the secret word with spaces in between each letter
                  print(letter, end=' ')
              print()
        
        
        def getGuess(alreadyGuessed):
              # Returns the letter the player entered. This function makes sure the player entered a single letter, and not something else.
              while True:
                  print('Guess a letter.')
                  guess = input()
                  guess = guess.lower()
                  if len(guess) != 1:
                      print('Please enter a single letter.')
                  elif guess in alreadyGuessed:
                      print('You have already guessed that letter. Choose again.')
                  elif guess not in 'abcdefghijklmnopqrstuvwxyz':
                      print('Please enter a LETTER.')
                  else:
                      return guess
        
        
        
        def playAgain():
              # This function returns True if the player wants to play again, otherwise it returns False.
              print('Do you want to play again? (yes or no)')
              return input().lower().startswith('y')
        
        
        
        
        print('H A N G M A N')
        missedLetters = ''
        correctLetters = ''
        #HangmanWord holds a random word from the list of words as a variable. 
        HangmanWord = getRandomWord(words)
        gameIsDone = False
        
        
        
        while True:
              displayBoard(PICS, missedLetters, correctLetters, HangmanWord)
        
        
              # Let the player type in a letter.
              guess = getGuess(missedLetters + correctLetters)
              if guess in HangmanWord:
                  correctLetters = correctLetters + guess
        
        
                  # Check if the player has won
                  foundAllLetters = True
                  for i in range(len(HangmanWord)):
                      if HangmanWord[i] not in correctLetters:
                          foundAllLetters = False
                          break
                  if foundAllLetters:
                      print('Yes! The secret word is "' + HangmanWord + '"! You have won!')
                      gameIsDone = True
              else:
                  missedLetters = missedLetters + guess
        
        
                  # Check if player has guessed too many times and lost
                  if len(missedLetters) == len(PICS) - 1:
                      displayBoard(PICS, missedLetters, correctLetters, HangmanWord)
                      print('You have run out of guesses!\nAfter ' + str(len(missedLetters)) + ' missed guesses and ' + str(len(correctLetters)) + ' correct guesses, the word was "' + HangmanWord + '"')
                      gameIsDone = True
        
        
              # Ask the player if they want to play again (but only if the game is done).
              if gameIsDone:
                  if playAgain():
                      missedLetters = ''
                      correctLetters = ''
                      gameIsDone = False
                      HangmanWord = getRandomWord(words)
                  else:
                      break
      </py-script>
    </body>

    

=======

    

{% endblock %}


{% block background %}
{% endblock %}