<!DOCTYPE html>
<body>
    <h1>
        Hacks
    </h1>
    <ul>
        <li>The errors that may arise</li>
            <p>Some errors that may arise during the project is that we may write a code wrong or not capatilize something
                and this messes up everything. Another error that may occur is that there may not be enough communication so someone
                finishes something then the other person also finishes it and there is an error that would come. 
            </p>
        <li>What are some test cases that can be used?</li>
            <p> Some test cases that can be used are using an if statement and if the the statment is true then pass a print statement
                which says this is correct otherwise you can put an else saying it doesnt work. Another way is using a try and except if you
                are coding in the langauge of python. 
            </p>
        <li>Make sure to document any bugs you encounter and how you solved the problem.</li>
            <p> Some bugs that we encountered were capitalizing some in-built functions and things like that and we fixed
                it by checking the correct syntax and changing it. Some lines of code had to be indented and they werent which caused an error
                so we fixed that 
            </p>
        <li>What are “single” tests that you will perform on your project? Or, your part of the project?</li>
        <li></li>
    </ul>

</body>